BMP_Skin1		      BITMAP "Skin1.bmp"
BMP_Skin2		      BITMAP "Skin2.bmp"
BMP_Skin3		      BITMAP "Skin3.bmp"
//BMP_Excluir		    BITMAP "Excluir.bmp"
//BMP_Canto		      BITMAP "Canto.bmp"
//BMP_Redo		      BITMAP "Redo.bmp"
//ICO_MAIN16		    ICON   "Main16.ico"
//PNG_Status32		  RCDATA "Status32.png"
//PNG_RECEBE16		  RCDATA "RECEBE16.png"
PNG_SkinTalkL		  RCDATA "SkinTalkL.png"
PNG_SkinTalkM		  RCDATA "SkinTalkM.png"
PNG_SkinTalkR		  RCDATA "SkinTalkR.png"
